USE [master]
GO
/****** Object:  Database [CompanyDB]    Script Date: 2/8/2024 6:24:32 PM ******/
CREATE DATABASE [CompanyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CompanyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CompanyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CompanyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CompanyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CompanyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CompanyDB]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 2/8/2024 6:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] NOT NULL,
	[DepartmentName] [varchar](100) NULL,
	[Location] [varchar](100) NULL,
	[ManagerID] [int] NULL,
	[Budget] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2/8/2024 6:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] NOT NULL,
	[Name] [varchar](100) NULL,
	[DepartmentID] [int] NULL,
	[Gender] [varchar](10) NULL,
	[Email] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 2/8/2024 6:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ProjectID] [int] NOT NULL,
	[ProjectName] [varchar](100) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 2/8/2024 6:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary](
	[SalaryID] [int] NOT NULL,
	[EmployeeID] [int] NULL,
	[SalaryAmount] [decimal](18, 2) NULL,
	[PaymentDate] [date] NULL,
	[PaymentMethod] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SalaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 2/8/2024 6:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TaskID] [int] NOT NULL,
	[TaskName] [varchar](100) NULL,
	[ProjectID] [int] NULL,
	[AssignedTo] [int] NULL,
	[Priority] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [Location], [ManagerID], [Budget]) VALUES (1, N'Computer', N'Bhuj', 6, CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [Location], [ManagerID], [Budget]) VALUES (2, N'Marketing', N'Surat', 2, CAST(80000.00 AS Decimal(18, 2)))
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [Location], [ManagerID], [Budget]) VALUES (3, N'Finance', N'Rajkot', 1, CAST(120000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Employee] ([EmployeeID], [Name], [DepartmentID], [Gender], [Email]) VALUES (1, N'Daddu bhai', 3, N'Male', N'johndoe@gmail.com')
INSERT [dbo].[Employee] ([EmployeeID], [Name], [DepartmentID], [Gender], [Email]) VALUES (2, N'Jane Smith', 2, N'Female', N'janesmith@gmail.com')
INSERT [dbo].[Employee] ([EmployeeID], [Name], [DepartmentID], [Gender], [Email]) VALUES (3, N'Mike Johnson', 1, N'Male', N'mikejohnson@gmail.com')
GO
INSERT [dbo].[Project] ([ProjectID], [ProjectName], [StartDate], [EndDate], [Status]) VALUES (1, N'Website Redesign', CAST(N'2023-01-10' AS Date), CAST(N'2023-06-30' AS Date), N'Active')
INSERT [dbo].[Project] ([ProjectID], [ProjectName], [StartDate], [EndDate], [Status]) VALUES (2, N'Product Launch', CAST(N'2023-03-15' AS Date), CAST(N'2023-09-30' AS Date), N'Active')
INSERT [dbo].[Project] ([ProjectID], [ProjectName], [StartDate], [EndDate], [Status]) VALUES (3, N'Financial Analysis', CAST(N'2023-02-05' AS Date), CAST(N'2023-05-20' AS Date), N'Completed')
GO
INSERT [dbo].[Salary] ([SalaryID], [EmployeeID], [SalaryAmount], [PaymentDate], [PaymentMethod]) VALUES (1, 4, CAST(2345234.00 AS Decimal(18, 2)), CAST(N'2024-02-06' AS Date), N'Cheque')
INSERT [dbo].[Salary] ([SalaryID], [EmployeeID], [SalaryAmount], [PaymentDate], [PaymentMethod]) VALUES (2, 2, CAST(70000.00 AS Decimal(18, 2)), CAST(N'2024-01-31' AS Date), N'Cheque')
INSERT [dbo].[Salary] ([SalaryID], [EmployeeID], [SalaryAmount], [PaymentDate], [PaymentMethod]) VALUES (3, 3, CAST(80000.00 AS Decimal(18, 2)), CAST(N'2024-01-31' AS Date), N'Cash')
GO
INSERT [dbo].[Task] ([TaskID], [TaskName], [ProjectID], [AssignedTo], [Priority]) VALUES (2, N'Content Creation', 4, 5, N'Low')
INSERT [dbo].[Task] ([TaskID], [TaskName], [ProjectID], [AssignedTo], [Priority]) VALUES (3, N'Market Research', 2, 3, N'High')
INSERT [dbo].[Task] ([TaskID], [TaskName], [ProjectID], [AssignedTo], [Priority]) VALUES (4, N'Budget Planning', 3, 4, N'Medium')
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Project] ([ProjectID])
GO
USE [master]
GO
