USE [master]
GO
/****** Object:  Database [LibraryManagement]    Script Date: 24-01-2024 15:16:05 ******/
CREATE DATABASE [LibraryManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LibraryManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LibraryManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryManagement]
GO
/****** Object:  UserDefinedFunction [dbo].[CalculateLateFee]    Script Date: 24-01-2024 15:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CalculateLateFee](@LoanID INT)
		RETURNS DECIMAL(10, 2)
		AS
		BEGIN
			DECLARE @LateFee DECIMAL(10, 2);

			SELECT @LateFee = 
				CASE
					WHEN DATEDIFF(DAY, LoanDate, GETDATE()) > 30 THEN (DATEDIFF(DAY, LoanDate, GETDATE()) - 30) * 0.50
					ELSE 0
				END
			FROM Loan
			WHERE LoanID = @LoanID;

			RETURN @LateFee;
		END;
GO
/****** Object:  UserDefinedFunction [dbo].[GetAuthorAge]    Script Date: 24-01-2024 15:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetAuthorAge](@AuthorID INT)
		RETURNS INT
		AS
		BEGIN
			DECLARE @Age INT;

			SELECT @Age = DATEDIFF(YEAR, BirthDate, GETDATE())
			FROM Author
			WHERE AuthorID = @AuthorID;

			RETURN @Age;
		END;
GO
/****** Object:  Table [dbo].[Author]    Script Date: 24-01-2024 15:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [varchar](50) NOT NULL,
	[BirthDate] [date] NULL,
	[Nationality] [varchar](50) NULL,
	[Biography] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 24-01-2024 15:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[AuthorID] [int] NULL,
	[ISBN] [varchar](20) NOT NULL,
	[PublishedDate] [date] NOT NULL,
	[GenreID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[BookDetailsView]    Script Date: 24-01-2024 15:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE VIEW [dbo].[BookDetailsView] AS
		SELECT
			B.BookID,
			B.Title,
			B.ISBN,
			B.PublishedDate,
			A.AuthorID,
			A.AuthorName,
			A.BirthDate,
			A.Nationality
		FROM
			Book B
		JOIN
			Author A ON B.AuthorID = A.AuthorID;
GO
/****** Object:  Table [dbo].[Member]    Script Date: 24-01-2024 15:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](100) NULL,
	[JoinDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loan]    Script Date: 24-01-2024 15:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loan](
	[LoanID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[LoanDate] [datetime] NOT NULL,
	[ReturnDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[MemberLoanHistoryView]    Script Date: 24-01-2024 15:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MemberLoanHistoryView] AS
		SELECT
			M.MemberID,
			M.FirstName,
			M.LastName,
			M.Email,
			L.LoanID,
			L.BookID,
			L.LoanDate,
			L.ReturnDate
		FROM
			Member M
		LEFT JOIN
			Loan L ON M.MemberID = L.MemberID;
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 24-01-2024 15:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[GenreID] [int] IDENTITY(1,1) NOT NULL,
	[GenreName] [varchar](50) NOT NULL,
	[Description] [text] NULL,
	[CreatedDate] [date] NOT NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([AuthorID], [AuthorName], [BirthDate], [Nationality], [Biography]) VALUES (1, N'Amit Sharma', CAST(N'1985-09-20' AS Date), N'Indian', N'Amit Sharma is a bestselling Indian author known for his novels reflecting Indian culture.')
INSERT [dbo].[Author] ([AuthorID], [AuthorName], [BirthDate], [Nationality], [Biography]) VALUES (2, N'Priya Verma', CAST(N'1970-12-15' AS Date), N'Indian', N'Priya Verma is a prolific Hindi author, capturing the essence of Indian traditions in her works.')
INSERT [dbo].[Author] ([AuthorID], [AuthorName], [BirthDate], [Nationality], [Biography]) VALUES (3, N'Rajeev Kapoor', CAST(N'1980-05-28' AS Date), N'Indian', N'Rajeev Kapoor is a renowned Indian mystery writer, weaving suspense into his captivating stories.')
SET IDENTITY_INSERT [dbo].[Author] OFF
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([BookID], [Title], [AuthorID], [ISBN], [PublishedDate], [GenreID]) VALUES (1, N'The Art of Programming', 1, N'978-0123456789', CAST(N'2022-03-15' AS Date), 1)
INSERT [dbo].[Book] ([BookID], [Title], [AuthorID], [ISBN], [PublishedDate], [GenreID]) VALUES (2, N'Data Science Fundamentals', 2, N'978-9876543210', CAST(N'2021-08-20' AS Date), 2)
INSERT [dbo].[Book] ([BookID], [Title], [AuthorID], [ISBN], [PublishedDate], [GenreID]) VALUES (3, N'Mystery of the Lost City', 3, N'978-1111222233', CAST(N'2020-05-10' AS Date), 3)
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([GenreID], [GenreName], [Description], [CreatedDate], [UpdatedDate]) VALUES (1, N'Mystery', N'Books that involve solving a mystery or crime.', CAST(N'2022-01-15' AS Date), CAST(N'2022-02-10T08:30:00.000' AS DateTime))
INSERT [dbo].[Genre] ([GenreID], [GenreName], [Description], [CreatedDate], [UpdatedDate]) VALUES (2, N'Science Fiction', N'Books with speculative and futuristic themes.', CAST(N'2022-02-20' AS Date), CAST(N'2022-03-15T12:45:00.000' AS DateTime))
INSERT [dbo].[Genre] ([GenreID], [GenreName], [Description], [CreatedDate], [UpdatedDate]) VALUES (3, N'Romance', N'Books focused on romantic relationships and love stories.', CAST(N'2022-03-05' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[Loan] ON 

INSERT [dbo].[Loan] ([LoanID], [MemberID], [BookID], [LoanDate], [ReturnDate]) VALUES (1, 1, 1, CAST(N'2022-01-15T10:30:00.000' AS DateTime), CAST(N'2022-02-10T12:00:00.000' AS DateTime))
INSERT [dbo].[Loan] ([LoanID], [MemberID], [BookID], [LoanDate], [ReturnDate]) VALUES (2, 2, 2, CAST(N'2022-02-20T14:45:00.000' AS DateTime), CAST(N'2022-03-15T10:30:00.000' AS DateTime))
INSERT [dbo].[Loan] ([LoanID], [MemberID], [BookID], [LoanDate], [ReturnDate]) VALUES (3, 3, 3, CAST(N'2022-03-05T08:15:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Loan] OFF
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([MemberID], [FirstName], [LastName], [Email], [JoinDate]) VALUES (1, N'Amit', N'Verma', N'amit.verma@email.com', CAST(N'2022-01-10T08:45:00.000' AS DateTime))
INSERT [dbo].[Member] ([MemberID], [FirstName], [LastName], [Email], [JoinDate]) VALUES (2, N'Priya', N'Singh', N'priya.singh@email.com', CAST(N'2022-02-15T12:30:00.000' AS DateTime))
INSERT [dbo].[Member] ([MemberID], [FirstName], [LastName], [Email], [JoinDate]) VALUES (3, N'Rajesh', N'Kumar', N'rajesh.kumar@email.com', CAST(N'2022-03-20T10:15:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Member] OFF
GO
/****** Object:  Index [IX_Book_AuthorID]    Script Date: 24-01-2024 15:16:05 ******/
CREATE NONCLUSTERED INDEX [IX_Book_AuthorID] ON [dbo].[Book]
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Book_GenreID]    Script Date: 24-01-2024 15:16:05 ******/
CREATE NONCLUSTERED INDEX [IX_Book_GenreID] ON [dbo].[Book]
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([GenreID])
REFERENCES [dbo].[Genre] ([GenreID])
GO
/****** Object:  StoredProcedure [dbo].[AddBook]    Script Date: 24-01-2024 15:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddBook]
			@Title VARCHAR(100),
			@AuthorID INT,
			@ISBN VARCHAR(20),
			@PublishedDate DATE,
			@GenreID INT
		AS
		BEGIN
			INSERT INTO Book (Title, AuthorID, ISBN, PublishedDate, GenreID)
			VALUES (@Title, @AuthorID, @ISBN, @PublishedDate, @GenreID);
		END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteBook]    Script Date: 24-01-2024 15:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteBook]
			@BookID INT
		AS
		BEGIN
			DELETE FROM Book
			WHERE BookID = @BookID;
		END;
GO
/****** Object:  StoredProcedure [dbo].[FullBookOperation]    Script Date: 24-01-2024 15:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[FullBookOperation]
			@OperationType NVARCHAR(10), -- 'Select', 'Add', 'Update', 'Delete'
			@BookID INT = NULL,
			@Title VARCHAR(100) = NULL,
			@AuthorID INT = NULL,
			@ISBN VARCHAR(20) = NULL,
			@PublishedDate DATE = NULL,
			@GenreID INT = NULL
		AS
		BEGIN
			IF @OperationType = 'Select'
			BEGIN
				-- Select operation
				EXEC SelectBook @BookID;
			END
			ELSE IF @OperationType = 'Add'
			BEGIN
				-- Add operation
				EXEC AddBook @Title, @AuthorID, @ISBN, @PublishedDate, @GenreID;
			END
			ELSE IF @OperationType = 'Update'
			BEGIN
				-- Update operation
				EXEC UpdateBook @BookID, @Title, @AuthorID, @ISBN, @PublishedDate, @GenreID;
			END
			ELSE IF @OperationType = 'Delete'
			BEGIN
				-- Delete operation
				EXEC DeleteBook @BookID;
			END
			
		END;
GO
/****** Object:  StoredProcedure [dbo].[SelectBook]    Script Date: 24-01-2024 15:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectBook]
		@BookID INT
	AS
	BEGIN
		SELECT *
		FROM Book
		WHERE BookID = @BookID;
	END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateBook]    Script Date: 24-01-2024 15:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
		CREATE PROCEDURE [dbo].[UpdateBook]
			@BookID INT,
			@Title VARCHAR(100),
			@AuthorID INT,
			@ISBN VARCHAR(20),
			@PublishedDate DATE,
			@GenreID INT
		AS
		BEGIN
			UPDATE Book
			SET
				Title = @Title,
				AuthorID = @AuthorID,
				ISBN = @ISBN,
				PublishedDate = @PublishedDate,
				GenreID = @GenreID
			WHERE
				BookID = @BookID;
		END;
GO
/****** Object:  Trigger [dbo].[AfterDeleteBook]    Script Date: 24-01-2024 15:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[AfterDeleteBook]
		ON [dbo].[Book]
		AFTER DELETE
		AS
		BEGIN
			PRINT 'After Delete Book Trigger is called';
		END;
GO
ALTER TABLE [dbo].[Book] ENABLE TRIGGER [AfterDeleteBook]
GO
/****** Object:  Trigger [dbo].[AfterInsertBook]    Script Date: 24-01-2024 15:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[AfterInsertBook]
		ON [dbo].[Book]
		AFTER INSERT
		AS
		BEGIN
			PRINT 'After Inser Book Trigger is Called';
		END;
GO
ALTER TABLE [dbo].[Book] ENABLE TRIGGER [AfterInsertBook]
GO
/****** Object:  Trigger [dbo].[AfterUpdateBook]    Script Date: 24-01-2024 15:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE TRIGGER [dbo].[AfterUpdateBook]
		ON [dbo].[Book]
		AFTER UPDATE
		AS
		BEGIN
			PRINT 'After Update Book Trigger is called';
		END;
GO
ALTER TABLE [dbo].[Book] ENABLE TRIGGER [AfterUpdateBook]
GO
/****** Object:  Trigger [dbo].[BeforeDeleteBook]    Script Date: 24-01-2024 15:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[BeforeDeleteBook]
		ON [dbo].[Book]
		FOR DELETE
		AS
		BEGIN
			PRINT 'Before Delete Book Trigger is called';
		END;
GO
ALTER TABLE [dbo].[Book] ENABLE TRIGGER [BeforeDeleteBook]
GO
/****** Object:  Trigger [dbo].[BeforeInsertBook]    Script Date: 24-01-2024 15:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[BeforeInsertBook]
		ON [dbo].[Book]
		FOR INSERT
		AS
		BEGIN
			PRINT 'Before Insert Book Trigger is called';
		END;
GO
ALTER TABLE [dbo].[Book] ENABLE TRIGGER [BeforeInsertBook]
GO
/****** Object:  Trigger [dbo].[BeforeUpdateBook]    Script Date: 24-01-2024 15:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[BeforeUpdateBook]
		ON [dbo].[Book]
		FOR UPDATE
		AS
		BEGIN
			PRINT 'Before Update Book Trigger is called';
		END;
GO
ALTER TABLE [dbo].[Book] ENABLE TRIGGER [BeforeUpdateBook]
GO
USE [master]
GO
