USE [master]
GO
/****** Object:  Database [Inventory]    Script Date: 22-01-2024 13:48:46 ******/
CREATE DATABASE [Inventory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Inventory', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Inventory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Inventory_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Inventory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Inventory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Inventory]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 22-01-2024 13:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[Description] [text] NULL,
	[CreatedDate] [date] NOT NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 22-01-2024 13:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Subtotal] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orderr]    Script Date: 22-01-2024 13:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orderr](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 22-01-2024 13:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](50) NOT NULL,
	[CategoryID] [int] NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[StockQuantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 22-01-2024 13:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [varchar](50) NOT NULL,
	[ContactPerson] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description], [CreatedDate], [UpdatedDate]) VALUES (3, N'Electronics', N'Electronic devices and gadgets', CAST(N'2023-01-15' AS Date), NULL)
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description], [CreatedDate], [UpdatedDate]) VALUES (4, N'Furniture', N'Various types of furniture', CAST(N'2023-02-20' AS Date), CAST(N'2023-03-10T08:30:00.000' AS DateTime))
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description], [CreatedDate], [UpdatedDate]) VALUES (5, N'Appliances', N'Home appliances and kitchen tools', CAST(N'2023-03-05' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([OrderItemID], [OrderID], [ProductID], [Quantity], [Subtotal]) VALUES (1, 1, 1, 2, CAST(1799.98 AS Decimal(10, 2)))
INSERT [dbo].[OrderItem] ([OrderItemID], [OrderID], [ProductID], [Quantity], [Subtotal]) VALUES (2, 1, 3, 1, CAST(79.99 AS Decimal(10, 2)))
INSERT [dbo].[OrderItem] ([OrderItemID], [OrderID], [ProductID], [Quantity], [Subtotal]) VALUES (3, 2, 2, 3, CAST(1499.97 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Orderr] ON 

INSERT [dbo].[Orderr] ([OrderID], [CustomerID], [OrderDate], [TotalAmount], [Status]) VALUES (1, 1, CAST(N'2023-01-15T10:30:00.000' AS DateTime), CAST(150.99 AS Decimal(10, 2)), N'Processing')
INSERT [dbo].[Orderr] ([OrderID], [CustomerID], [OrderDate], [TotalAmount], [Status]) VALUES (2, 2, CAST(N'2023-02-20T14:45:00.000' AS DateTime), CAST(300.50 AS Decimal(10, 2)), N'Shipped')
INSERT [dbo].[Orderr] ([OrderID], [CustomerID], [OrderDate], [TotalAmount], [Status]) VALUES (3, 3, CAST(N'2023-03-05T08:15:00.000' AS DateTime), CAST(75.25 AS Decimal(10, 2)), N'Delivered')
SET IDENTITY_INSERT [dbo].[Orderr] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [CategoryID], [Price], [StockQuantity]) VALUES (3, N'laptop', 1, CAST(18000.00 AS Decimal(10, 2)), 10)
INSERT [dbo].[Product] ([ProductID], [ProductName], [CategoryID], [Price], [StockQuantity]) VALUES (4, N'Phone', 1, CAST(5000.00 AS Decimal(10, 2)), 50)
INSERT [dbo].[Product] ([ProductID], [ProductName], [CategoryID], [Price], [StockQuantity]) VALUES (5, N'Headphone', 2, CAST(800.00 AS Decimal(10, 2)), 200)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [ContactPerson], [Email], [Phone]) VALUES (1, N'divu Electronics', N'Divyesh', N'divyesh@abc.com', N'1234567890')
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [ContactPerson], [Email], [Phone]) VALUES (2, N'mamu Furniture', N'Mitul', N'mitul@xyz.com', N'9876543210')
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [ContactPerson], [Email], [Phone]) VALUES (3, N'chachu Appliances Inc.', N'yagnink', N'yagnik@appliances.com', N'5551234567')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
USE [master]
GO
