USE [master]
GO
/****** Object:  Database [QP_Creator]    Script Date: 2/20/2024 6:57:25 PM ******/
CREATE DATABASE [QP_Creator]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QP_Creator', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QP_Creator.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QP_Creator_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QP_Creator_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QP_Creator].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QP_Creator]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 2/20/2024 6:57:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[AnswerID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[AnswerText] [nvarchar](max) NOT NULL,
	[SubmissionTimestamp] [datetime2](7) NOT NULL,
	[QuestionPaperID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Approvals]    Script Date: 2/20/2024 6:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Approvals](
	[ApprovalID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionPaperID] [int] NOT NULL,
	[ApproverID] [int] NOT NULL,
	[ApprovalStatus] [nvarchar](50) NOT NULL,
	[ApprovalTimestamp] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ApprovalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 2/20/2024 6:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[CanCreateQuestionPaper] [bit] NOT NULL,
	[CanEditQuestionPaper] [bit] NOT NULL,
	[CanDeleteQuestionPaper] [bit] NOT NULL,
	[CanReviewQuestionPaper] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionPapers]    Script Date: 2/20/2024 6:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionPapers](
	[QuestionPaperID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionPaperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 2/20/2024 6:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[Option1] [nvarchar](max) NOT NULL,
	[Option2] [nvarchar](max) NOT NULL,
	[Option3] [nvarchar](max) NOT NULL,
	[Option4] [nvarchar](max) NOT NULL,
	[CorrectAnswer] [nvarchar](max) NOT NULL,
	[QuestionPaperID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/20/2024 6:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Answers] ON 

INSERT [dbo].[Answers] ([AnswerID], [UserID], [QuestionID], [AnswerText], [SubmissionTimestamp], [QuestionPaperID]) VALUES (6, 6, 5, N'Necessitatibus eaque', CAST(N'2024-02-20T11:50:30.6595901' AS DateTime2), 4)
INSERT [dbo].[Answers] ([AnswerID], [UserID], [QuestionID], [AnswerText], [SubmissionTimestamp], [QuestionPaperID]) VALUES (7, 6, 6, N'Dicta excepteur nisi', CAST(N'2024-02-20T12:16:36.6837670' AS DateTime2), 4)
INSERT [dbo].[Answers] ([AnswerID], [UserID], [QuestionID], [AnswerText], [SubmissionTimestamp], [QuestionPaperID]) VALUES (8, 6, 7, N'Vero sunt explicabo', CAST(N'2024-02-20T12:16:58.7380227' AS DateTime2), 6)
SET IDENTITY_INSERT [dbo].[Answers] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionPapers] ON 

INSERT [dbo].[QuestionPapers] ([QuestionPaperID], [Title], [Description], [CreationDate], [Status], [CreatorID]) VALUES (4, N'English', N'this is the paper of english', CAST(N'2024-02-19T15:41:10.8842587' AS DateTime2), N'Approved', 5)
INSERT [dbo].[QuestionPapers] ([QuestionPaperID], [Title], [Description], [CreationDate], [Status], [CreatorID]) VALUES (5, N'Gujarati', N'gujarati is paper', CAST(N'2024-02-19T15:49:21.2869844' AS DateTime2), N'Approved', 4)
INSERT [dbo].[QuestionPapers] ([QuestionPaperID], [Title], [Description], [CreationDate], [Status], [CreatorID]) VALUES (6, N'physics', N'alsdkjflkajsdkjf', CAST(N'2024-02-19T16:25:59.5625632' AS DateTime2), N'Approved', 4)
SET IDENTITY_INSERT [dbo].[QuestionPapers] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionID], [QuestionText], [Option1], [Option2], [Option3], [Option4], [CorrectAnswer], [QuestionPaperID]) VALUES (5, N'Laboris velit nisi ', N'Et veritatis occaeca', N'Necessitatibus eaque', N'Eaque dolores ab ali', N'Beatae eligendi enim', N'Aspernatur ut aut in', 4)
INSERT [dbo].[Questions] ([QuestionID], [QuestionText], [Option1], [Option2], [Option3], [Option4], [CorrectAnswer], [QuestionPaperID]) VALUES (6, N'Adipisci blanditiis ', N'Do consectetur eos v', N'Dolor nemo cum beata', N'Nobis nihil voluptat', N'Dicta excepteur nisi', N'Ea sunt culpa autem', 4)
INSERT [dbo].[Questions] ([QuestionID], [QuestionText], [Option1], [Option2], [Option3], [Option4], [CorrectAnswer], [QuestionPaperID]) VALUES (7, N'Voluptates accusamus', N'Excepteur quo dolore', N'Vero sunt explicabo', N'Dolorem et in elit ', N'Voluptas atque conse', N'Dolor rerum dolore v', 6)
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Email], [Role]) VALUES (4, N'codewithdivu', N'78982317e45c14b3651aefbfba22184188b765b06798feba9deb9e46ee35f902', N'divu0017@gmail.com', N'Admin')
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Email], [Role]) VALUES (5, N'prince', N'938a3cd4f5282b1659cfa16d4eec2a160eb1cf28b5c646966926f977471b6eb7', N'prince@gmail.com', N'Teacher')
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Email], [Role]) VALUES (6, N'himanshu', N'b177576706fd3272731118cc85b091fe4787a01d435b2144ae5508037cd9121f', N'himanshu@gmail.com', N'Student')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E480D62C6C]    Script Date: 2/20/2024 6:57:26 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Answers] ADD  DEFAULT (getdate()) FOR [SubmissionTimestamp]
GO
ALTER TABLE [dbo].[Approvals] ADD  DEFAULT (getdate()) FOR [ApprovalTimestamp]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT ((0)) FOR [CanCreateQuestionPaper]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT ((0)) FOR [CanEditQuestionPaper]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT ((0)) FOR [CanDeleteQuestionPaper]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT ((0)) FOR [CanReviewQuestionPaper]
GO
ALTER TABLE [dbo].[QuestionPapers] ADD  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[QuestionPapers] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD FOREIGN KEY([QuestionPaperID])
REFERENCES [dbo].[QuestionPapers] ([QuestionPaperID])
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Approvals]  WITH CHECK ADD FOREIGN KEY([ApproverID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Approvals]  WITH CHECK ADD FOREIGN KEY([QuestionPaperID])
REFERENCES [dbo].[QuestionPapers] ([QuestionPaperID])
GO
ALTER TABLE [dbo].[QuestionPapers]  WITH CHECK ADD FOREIGN KEY([CreatorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD FOREIGN KEY([QuestionPaperID])
REFERENCES [dbo].[QuestionPapers] ([QuestionPaperID])
GO
USE [master]
GO
